<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %}{% endblock %} - Coder: Cursos Livres</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <header>
        <h1>Coder</h1>
        <nav>
            <li><a href="{% url 'courses:courses_list' %}">Cursos</a></li>
            <li><a href="{% url 'teachers:teachers_list' %}">Professores</a></li>
            <li><a href="{% url 'students:students_list' %}">Estudantes</a></li>
            <li><a href="{% url 'projects:projects_list' %}">Projetos</a></li>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}Copyright Coder &copy; 2025{% endblock %}
    </footer>
</body>
</html>